.mypara{
    background-color:yellow;
    height: 50px;
    text-align: left;
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px; 
}
body{
    background-color: #C3E0E5;
}
.my-nav{
    background-color: #274472;
    color: #fff;
}
.my-nav-dark{
    background-color: #081f1c;
    color: #fff;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}
.navbar-brand:hover{
    color: #fff;
    cursor: pointer;
}
.nav-link1{
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    align-items: baseline;
}
.nav-link2 {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    align-items: baseline;
}


.nav-link2:hover {

    color: #4cb388;
}

 .nav-link1:hover  {
    
    color: #5885AF;
}

.active2{
    color: #4cb388 !important;
}
.active1{
    color: #5885AF !important;
}

.my-btn{
    border: 2px solid#41729f;
    color: black;
    background: #41729F;
    font-weight: 500;
}
.my-btns{
    background: #fff;
    font-weight: 500;
    color: black;
    border: 2px solid #fff;
}
.my-btns:hover{
   
    color: #fff;
    background:#0f4b39;
    border: 2px solid #0f4b39;
}
.my-btn:hover{
    
    color: #fff;
    background: #5885AF;
}

