
@media screen and (max-width: 768px) {
  .example-d{
    display: grid !important; 
    grid-template-columns: auto auto auto auto !important;
    gap: 10px !important;
  }
  .example-d .icon-content {
    margin :0px;
   
  }
  .form-control{
    height: 40vh;
    min-height: 40vh !important;
    max-height: 40vh;
   
   
 }
 .nav-link{
  width: 5rem !important;
    margin-top: .5rem  !important;
 }
 .toggle{
  margin-top: 0.7rem !important;
 }

body{
        font-size: 10px !important;
       
    }

    .about-text-d{
      width: 45% !important;
    }
    
}

.text-color-d{
    color: #fff !important;
}
.dbg-color{
    background: #212121;
}
.bxd-in{
    background: #212121 !important;
    box-shadow: inset 8px 8px 9px #0d0d0d,
                inset -8px -8px 9px #353535 !important;
}

.bxd-out{
    background: #212121 !important;
    box-shadow:  8px 8px 9px #0d0d0d,
             -8px -8px 9px #353535;
}
  



/* Navbar */
.navbar-toggler-icon-d{
    width : 1.3rem !important;
    height : 1.3rem !important;
    color :#fff !important;
    fill : #fff !important;
  }
  
  
.navbar-toggler-d{
    background: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
                 -8px -8px 9px #353535 !important;
  
    color: #fff !important;
    border-radius: .375rem !important;  
    border: none !important;
   
  }
  
  .navbar-toggler-d:focus{
    background: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
                 -8px -8px 9px #353535 !important;
   
    border-radius: .375rem !important; 
   
  }
  
.nav-link-d{
    
    background: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
                 -8px -8px 9px #353535;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    color: #fff !important;
    border-radius: .375rem !important; 
    border: none !important; 
    border: .0625rem solid #fafbfe;
    margin-right: 1.5rem ;
    color: #fff !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
}
.my-nav-d{
    background-color: #212121 !important;
    color: #fff !important;
    
}

.navbar-brand-d{
    font-size: 1rem !important;
    font-weight: bold !important;
    
   
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    color: #fff !important;
    border-radius: .375rem !important;  
    border: none !important;
   
    background: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
                 -8px -8px 9px #353535 !important;
}
.navbar-brand-d:hover{
   
    cursor: pointer;
    background: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
                 -8px -8px 9px #353535 !important;
}


.bx-d{
 
  background-color: #212121 !important;
  box-shadow: inset 8px 8px 9px #0d0d0d,
              inset -8px -8px 9px #353535 !important;
  color: #fff !important;
  border-radius: 13px;
}



 .nav-link-d:hover  {
    border-radius: 29px;
    background: #212121;
    box-shadow: inset 6px 6px 7px #0d0d0d,
                inset -6px -6px 7px #353535;
    color : rgb(232, 89, 15)!important;
}


.active-d{
    color: #20da20 !important; 
    box-shadow: inset 6px 6px 7px #0d0d0d ,
                inset -6px -6px 7px #353535 !important;
   

}


body{
   
    font-size: 12px !important; 
    color: #fff !important;
   

}

/* Text Form */
.main-heading-d{
    box-shadow: inset 8px 8px 9px #0d0d0d,
    inset -8px -8px 9px #353535 !important;
        color:     #fff !important ;
    border-radius: 13px;
    border-radius: 10px;
    background: #212121 !important;
    padding: 1rem;

}

textarea::placeholder {
    color: #7c7878  !important;
    font-weight: 600 !important;
  }
.form-control-d{
   height: 50vh;
   min-height: 50vh !important;
   max-height: 50vh;
   padding: 1.5rem;
   background: #212121;
   box-shadow: inset 8px 8px 9px #0d0d0d,
               inset -8px -8px 9px #353535 !important;
   border-radius: 13px;
    background-color: #212121;
   
   color: #fff  !important;
   border: none;
   resize: none;
   width: 100%;
   font-size: 1rem !important;
   font-weight: 500 !important;
  
  
}
.form-control-d:focus{
    /* box-shadow: inset 5px 5px 14px #121212,
   inset -5px -5px 14px #303030;
    background: #212121;
    color: #e8e8e8; */
   

background-color: #212121;
box-shadow: inset 8px 8px 9px #0d0d0d,
            inset -8px -8px 9px #353535 !important;
}


bx-show-light{
    border-radius: 13px;
    background: #e6e7ee;
    box-shadow: inset 9px 9px 8px #bfc0c6,
                inset -9px -9px 8px #ffffff;
    -webkit-box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
}


/* Loader Dark */
.loader-d {
    position: relative;
    width: 160px;
    height: 160px;
    border: 4px solid #282828;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
      10px 10px 10px rgba(0, 0, 0, 0.4),
      inset -5px -5px 5px rgba(255, 255, 255, 0.2),
      inset 10px 10px 10px rgba(0, 0, 0, 0.4);
/*     
      left: 42%;
      bottom: 30%; */
      margin-top: 10vh;
      margin-left: 32vw;
  }
  
  .loader-d:before {
    content: "";
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    z-index: 10;
    background: #212121;
    border-radius: 50%;
    border: 2px solid #292929;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
      inset 3px 3px 5px rgba(0, 0, 0, 0.5);
  }
  
  .loader-d .loader-text-d {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(
      -225deg,
      #ff7402 0%,
      #ffe700 50%,
      #fff55e 100%
    );
    filter: blur(20px);
   
    animation: animate 0.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
    
  

/* Switch dark mode and light Mode */
  /* Default */
/* switch settings 👇 */

.ui-switch {
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(232, 89, 15);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
  }
  
  .ui-switch input {
    display: none;
  }
  
  .slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
  }
  
  .slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
    ;
  }
  
  .slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
  }
  
  /* actions */
  
  .ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
    background-color: rgb(0, 56, 146);
  }
  
  .ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
  }


/* toolsTips Button */
ul {
    list-style: none;
  }
  
  .example-d {
    display: flex;
    justify-content: center;
    align-items: center;
   
    background-color: #212121;
    box-shadow: inset 8px 8px 9px #0d0d0d,
                    inset -8px -8px 9px #353535;
    padding: 10px 5px;
    border-radius: 10px;
  }
  .ex-1{
    gap : 0 !important;
  }
 
  .example-d .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .example-d .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    width: auto;
    white-space: nowrap;
  }
  .example-d .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-d .icon-content button {
    box-shadow:  8px 8px 9px #0d0d0d,
    -8px -8px 9px #353535 !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color:     #fff;
    background-color: #212121;
    transition: all 0.3s ease-in-out;
   
  }
  .example-d .icon-content button:hover {
    box-shadow:  8px 8px 9px #0d0d0d,
    -8px -8px 9px #353535 !important;
  }
  .example-d .icon-content button svg {
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
  }
  .example-d .icon-content button:hover {
    color: white;
  }
  .example-d .icon-content button .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
  }
  .example-d .icon-content button:hover .filled {
    height: 100%;
  }
 
  .example-d .icon-content button[data-social="tools"] .filled,
  .example-d .icon-content button[data-social="tools"] ~ .tooltip {
    background-color: #bd081c;
  }
  /* DropDown */
  .select-d {
    background-color:#e6e7ee;
    color:  #fff; 
    background-color: #212121;
    box-shadow:  8px 8px 9px #0d0d0d,
             -8px -8px 9px #353535;
   
    border: none !important ;
    font-size: 1rem;
    font-weight: 500;
  }
  .select-d:focus{
    box-shadow: inset 6px 6px 7px #0d0d0d,
                inset -6px -6px 7px #353535 !important;
    color:  rgb(232, 89, 15) ;
  }
  .select-d:hover{
    color : rgb(232, 89, 15) ;
  }

.tnh{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 10px 20px rgba(0, 0, 0, 0.4) !important;
    background: linear-gradient(to bottom, #171717, #242424);
    color: #ffffff;
}
/* Ai Buttons */
.btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    font-weight: 500;
  }
  
  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
    color: #fff;
    font-weight: 500;
  }
  
  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn:hover .btn-text-one {
    top: -100%;
  }
  
  .btn:hover .btn-text-two {
    top: 50%;
  }

  /* Text Summary */
  .text-summary-d{
    position: relative;
    background-color: #212121;
    color: #fff;
    width: 100%;
    min-height: 50vh;
    max-height: 60vh;
    height: auto;
    border-radius: 13px; 
    padding: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7rem;
    white-space: wrap;
    overflow: auto;
    text-align: justify;

   
  }
  .text-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65px;
    font-size: 1.2rem;
    font-weight: 600;
  }

  /* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
 height: 10px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #e7dede; /* Color of the track */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background:  #830a0a;  /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
  height: 10px;
}

/* Scrollbar Handle on Hover */
::-webkit-scrollbar-thumb:hover {
  background: #830a0a; /* Color of the scrollbar thumb on hover */
}






/* About Section  */
.accordion-d{
  padding: 1.8rem;
  border-radius: 13px;
    background: #212121 !important;
    box-shadow: inset 8px 8px 9px #0d0d0d,
    inset -8px -8px 9px #353535 !important;
}

.accordion-button-d{
 
  background: #212121 !important;
  box-shadow:  8px 8px 9px #0d0d0d,
               -8px -8px 9px #353535 !important;
  color: #fff !important;
  border-radius: .375rem !important;  
 

}
.accordion-button:hover{
 
  color: rgb(232, 89, 15) !important;
 

}
.accordion-item-d {
  background-color: #212121;
  border: none;
}
.accordion-item-d button:not(.collapsed){
  background-color: #212121;
  box-shadow:  8px 8px 9px #0d0d0d,
               -8px -8px 9px #353535 !important;
  color: rgb(7, 185, 13) !important;
  border-radius: .375rem !important;  
  

}

.accordion-body-d{
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}
.about-text-d{
  width: 30%;
  background: #212121;
  box-shadow: inset 8px 8px 9px #0d0d0d,
              inset -8px -8px 9px #353535 !important;
  padding:1rem;
  border-radius: 13px;
  text-align: center;
  color: #fff;
}


